@using YunMall.Entity
@using YunMall.Entity.db
@using YunMall.Utility.jsonData
@model dynamic

@{
    ViewBag.Title = "订单窗口";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@section styles {
    <style>
        .head .navigation {
            width: 1140px;
            height: 100%;
            margin: 0 auto;
            line-height: 100px;
        }

        .head {
            width: 100%;
            height: 110px;
            background-color: #fff;
            border-bottom: 1px solid #DADEE7;
            margin: 0 auto;
            top: 0px;
            position: initial;
            padding-top: 15px;
        }

        .navigation .logo {
            background-image: url(/content/images/shop_logo.png);
            height: 100px;
            width: 310px;
        }

        .navigation ul {
            list-style: none;
            float: right;
        }

            .navigation ul li {
                display: inline-block;
                float: left;
                width: 95px;
                line-height: 95px;
                text-align: center;
                cursor: pointer;
                margin-left: 20px;
            }

                .navigation ul li span {
                    color: #345369;
                    display: inline-block;
                    line-height: 45px;
                    width: 100px;
                    border-radius: 8px;
                }

                    .navigation ul li span:hover {
                        background-color: #F5F8FA;
                    }

        .active span {
            background-color: #F5F8FA;
            border-radius: 8px;
        }

        .content {
            top: 0px;
        }

        .notice {
            width: 1100px;
            margin: 0 auto;
            position: relative;
            background-color: #FEF9CE;
            border-radius: 8px;
            padding: 20px;
            font-size: 15px;
            color: #a06f00;
        }

        .notice .close {
            float: right;
            font-size: 22px;
            opacity: 0.6;
            cursor: pointer;
        }

        .body { 
            margin: 0 auto;
            width: 1140px;
            min-height: 870px;
            position: relative;
            border-radius: 8px;
        }

            .body .left {
                float: left;
                background-color: #fff;
                width: 730px;
                height: 100%;
                min-height: 820px;
                display: inline-block;
                border-radius: 8px;
                box-shadow: 0px 1px 1px #cacaca;
                padding: 20px;
            }


            .body .right {
                float: right;
                background-color: #fff;
                width: 310px;
                height: 100%;
                min-height: 820px;
                display: inline-block;
                border-radius: 8px;
                box-shadow: 0px 1px 1px #cacaca;
                padding: 20px;
            }


        .item-line {
            min-height: 25px;
            line-height: 25px;
        }

        h3 {
            font-weight: bold;
            color: #515151;
        }

        .merchant span{
            font-size: 15px;
            line-height: 60px;
        }

        .merchant .stress {
            color: #6982bc;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            background-color: rgba(245,247,255,0.35);
            width: 100%;
            display: inline-block;
            text-align: left;
            border-radius: 8px;
            text-indent: 20px;
        }

        .stress em {
            font-size: 12px;
            font-style: initial;
            font-weight: normal;
            color: #929292;
            float: left;
            padding-left: 10px;
            display: inline-block;
            position: relative;
            top: 3px;
        }

        .left-category-tags {
            width: 100%;
            margin: 0 auto;
            display: block;
            padding: 20px;
        }


            .left-category-tags li {
                width: 85px;
                line-height: 50px;
                background-color: #f5f7ff;
                border-radius: 5px;
                display: inline-block;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                text-align: center;
                cursor: pointer;
            }

        .left-shop-car {
            width: 100%;
            margin: 0 auto;
            display: block;
            padding: 20px;
        }

            .left-shop-car li {
                width: 270px;
                line-height: 50px;
                background-color: #f5f7ff;
                border-radius: 5px;
                display: inline-block;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                text-align: center;
                cursor: pointer;
            }


        .ico_bzj, .ico_bzy, .ico_bzt {
            background: url(/content/images/ico_jyt.png) no-repeat 0 0;
            width: 57px;
            height: 23px;
            padding-top: 6px;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-weight: normal;
            font-size: 12px;
            padding-left: 35px;
            line-height: 23px;
            font-style: normal;
        }

        .ico_bzj a, .ico_bzy a, .ico_bzt a {
            color: #fff !important;
        }

        .ico_bzy {
            background-position: 0 -42px;
        }

        .ico_bzt {
            background-position: 0 -80px;
        }

        .ico_integrity_40, .ico_integrity_30, .ico_integrity_20, .ico_integrity_10 {
            background: url(/content/images/ico_jyt.png) no-repeat 0 0;
            width: 57px;
            height: 23px;
            padding-top: 6px;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-weight: normal;
            font-size: 12px;
            padding-left: 35px;
            line-height: 23px;
        }


        tbody tr {
            border-bottom: 1px solid #f3f4f9;
        }

        .button-blue {
            background-color: rgba(63, 111, 224, 0.68);
        }

        .table-product tbody img {
            background: #cacaca;
            box-shadow: 3px 5px 20px #ffffff;
            width: 80px;
            height: 80px;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #7c9dea;
        }

        a:link {
            color: #6982BC;
            text-decoration: none;
        }

        a:visited {
            color: #6982BC;
            text-decoration: none;
        }

        a:hover {
            color: #275DD6;
            text-decoration: underline;
        }


        .title {
            font-size: 12px;
            font-weight: normal;
            color: #345369 !important;
        }
    </style>
}

@section scripts {
    @Scripts.Render("~/content/js/module/shop/index.js")
    <script>
        $(function() {
            $("i[name='closeNotice']").click(function() {
                $(this).parent().fadeOut(1000, function () {
                    $(this).prev().remove();
                });
            });
        })
    </script>
}

<input type="hidden" id="products" value="@JsonUtil.ToJson(ViewBag.Products)"/>

<div class="head">
    <div class="navigation">
        <span class="logo"></span>
        <span style="float: left">
            @ViewBag.User.Username
        </span>
        @{
                var user = ViewBag.User;

                switch (user.Level) {
                    case 1:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">企业商铺</i>
                        </span>
                        break;
                    case 2:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">企业商铺</i>
                        </span>
                        break;
                    case 3:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">金牌商家</i>
                        </span>
                        break;
                    case 4:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzy">银牌商家</i>
                        </span>
                        break;
                    case 5:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzt">普通商家</i>
                        </span>
                        break;
                }
            }

        <ul>
            <li class="active"><span>首页</span></li>
            <li><span>游客订单</span></li>
            <li><span>关于我们</span></li>
        </ul>
    </div>
</div>

<div class="break-line-20"></div>

<div class="notice">
    <i class="layui-icon layui-icon-close-fill close" name="closeNotice"></i>
    <p>
        @Html.Raw(user.ShopNotice)
    </p>
</div>


<div class="break-line-20"></div>

<div class="body">
    <div class="left">
        <div class="item-line" style="display: block; line-height: 50px">
            <h3>经营商品</h3>
        </div>

        <div class="item-line">
            <table class="table-product">
                <thead>
                <tr>
                    <th style="width:198px">主图</th>
                    <th style="width:198px">商品名</th>
                    <th style="width:198px">价格</th>
                    <th style="width:198px">购物清单</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="item-line">
            <div id="page" style="text-align: center"></div>
        </div>
        
    </div>
    
    <div class="vertical-line-20"></div>

    <div class="right">
        <div class="item-line">
            <h3>卖家信息</h3>
        </div>

        <div class="item-line merchant">
            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title.png"/>
            </span>
            <span class="stress">
                <em>商户账号：</em>
                @user.Username
            </span>


            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title2.png"/>
            </span>
            <span class="stress">
                <em>联系QQ：</em>
                @user.QQ
            </span>

            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title3.png"/>
            </span>
            <span>
                <ul class="left-category-tags">
                    @{
                        var categorys = ViewBag.Categorys;
                        foreach (var category in categorys) {
                            <li>@category</li>
                        }
                    }
                </ul>
            </span>


            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title4.png"/>
            </span>
            <span>
                <ul id="shopCar" class="left-shop-car">
                </ul>
                <ul class="left-shop-car">
                    <li style="background-color: #fff; color: #cacaca">购物车商品总数：<span id="shopCarCount">0</span></li>
                    <li style="background-color: #fff">
                        <button class="button button-red" style="width: 100%; height: 60px; background-color: #3f6fe0; font-size: 20px">去结算</button>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>


<div style="line-height: 120px; width: 1140px; margin: 0 auto; text-align: center; font-size: 12px; color: #a5a5a5;">
    <span>2018 - @Constants.Brand</span>
</div>