@using YunMall.Entity
@using YunMall.Entity.db
@using YunMall.Utility.jsonData
@model dynamic

@{
    ViewBag.Title = ViewBag.User.Username  + "的商铺";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@section styles {
    @Styles.Render("~/content/css/module/shop/index.css")
}

@section scripts {
    @Scripts.Render("~/content/js/module/shop/index.js")
    <script>
        $(function() {
            $("i[name='closeNotice']").click(function() {
                $(this).parent().fadeOut(1000, function () {
                    $(this).prev().remove();
                });
            });
        })
    </script>
}

<input type="hidden" id="products" value="@JsonUtil.ToJson(ViewBag.Products)"/>

<div class="head">
    <div class="navigation">
        <span class="logo"></span>
        <span style="float: left">
            @ViewBag.User.Username
        </span>
        @{
                var user = ViewBag.User;

                switch (user.Level) {
                    case 1:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">企业商铺</i>
                        </span>
                        break;
                    case 2:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">企业商铺</i>
                        </span>
                        break;
                    case 3:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzj">金牌商家</i>
                        </span>
                        break;
                    case 4:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzy">银牌商家</i>
                        </span>
                        break;
                    case 5:
                        <span style="float: left; margin-left: 20px;">
                            <i class="ico_bzt">普通商家</i>
                        </span>
                        break;
                }
            }

        <ul>
            <li class="active"><span>首页</span></li>
            <li><span>游客订单</span></li>
            <li><span>关于我们</span></li>
        </ul>
    </div>
</div>

<div class="break-line-20"></div>

<div class="notice">
    <i class="layui-icon layui-icon-close-fill close" name="closeNotice"></i>
    <p>
        @Html.Raw(user.ShopNotice)
    </p>
</div>


<div class="break-line-20"></div>

<div class="body">
    <div class="left">
        <div class="item-line" style="display: block; line-height: 50px">
            <h3>经营商品</h3>
        </div>

        <div class="item-line">
            <table class="table-product">
                <thead>
                <tr>
                    <th style="width:198px">主图</th>
                    <th style="width:198px">商品名</th>
                    <th style="width:198px">价格</th>
                    <th style="width:198px">购物清单</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="item-line">
            <div id="page" style="text-align: center"></div>
        </div>
        
    </div>
    
    <div class="vertical-line-20"></div>

    <div class="right">
        <div class="item-line">
            <h3>卖家信息</h3>
        </div>

        <div class="item-line merchant">
            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title.png"/>
            </span>
            <span class="stress">
                <em>商户账号：</em>
                @user.Username
            </span>


            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title2.png"/>
            </span>
            <span class="stress">
                <em>联系QQ：</em>
                @user.QQ
            </span>

            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title3.png"/>
            </span>
            <span>
                <ul class="left-category-tags">
                    @{
                        var categorys = ViewBag.Categorys;
                        foreach (var category in categorys) {
                            <li title="@category.ParentName">@category.CategoryName</li>
                        }
                    }
                </ul>
            </span>


            <span style="text-align: center; display: block;">
                <img src="/content/images/shop_left_title4.png"/>
            </span>
            <span>
                <ul id="shopCar" class="left-shop-car">
                </ul>
                <ul class="left-shop-car">
                    <li style="background-color: #fff; color: #cacaca">购物车商品总数：<span id="shopCarCount">0</span></li>
                    <li style="background-color: #fff">
                        <button class="button button-red" style="width: 100%; height: 60px; background-color: #3f6fe0; font-size: 20px" name="goPayment">去结算</button>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>


<div style="line-height: 120px; width: 1140px; margin: 0 auto; text-align: center; font-size: 12px; color: #a5a5a5;">
    <span>2018 - @Constants.Brand</span>
</div>