@using YunMall.Entity
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - @(Constants.Title)</title>

    @Styles.Render("~/Content/frame/layui/css/layui.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/module/order/index.css")

    @RenderSection("styles", required: false)
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/Content/js/common/jquery-2.0.0.min.js")
    @Scripts.Render("~/Content/frame/layui/layui.all.js")
    @Scripts.Render("~/Content/js/base/utils.js")
    @RenderSection("scripts", required: false)
</body>
</html>
